/* Added code to display tables without horizontal scrollbars */

/* Added code to display tables without horizontal scrollbars */
table.docutils td, table.docutils th {
    white-space: normal !important;
}
/* .wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
    word-break: break-word;
}*/

.wy-table-responsive table th stub{
    vertical-align: top;
}

.wy-nav-content{
    max-width: none;
}
